@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*fonts*/
h2{
     font-family: "Work Sans", sans-serif;
     text-align: center;
}

/*img*/
img{
    max-width: 100%;
}

/*grid*/
main{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "section1 section2"
        "section3 section3";
}
section:nth-of-type(1){
    grid-area: section1;
}
section:nth-of-type(2){
    grid-area: section2;
}
section:nth-of-type(3){
    grid-area: section3;
}

/*media queries*/
@media (max-width: 600px) {
  main {
  display: block;
  }
}